.vscode/
__pycache__/random.cpython-312.pyc
results
exports
resources/test_images
resources/checkpoints
resources/config/user_config.json
resources/calibration/params_pantone.pickle
resources/calibration/color_checker_test_pantone.png
resources/calibration/color_checker.npy
resources/calibration/calibration_logs.xlsx