.vscode/
__pycache__/random.cpython-312.pyc
results
exports
resources/checkpoints
resources/config/user_config.json
resources/calibration/params_pantone.pickle
resources/calibration/params_amarillo.pickle
resources/calibration/calibraciondemosustentacion1diciembre.pickle